@use "../../styles/vars";

.container {
  position: absolute;
  background-color: yellow;
  top: vars.$headerHeight;
  left: 50rem;
  width: 100%;
  transition: transform .3s ease-out;
  height: calc(100% - #{vars.$headerHeight} - #{vars.$footerHeight});

  .menuItems {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;

    li {
      width: 100%;
      margin: 1rem;
      text-align: center;
    }
  }

  &.open {
    transform: translateX(-50rem);
  }
}

