.menuEntry {
  padding: 2rem;
  font-size: 1.8rem;
  background-color: green;
  width: 100%;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 6fr;
}