@use "src/styles/animations";

.flashCardScreen {
  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btnContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }

  .settingsDrawer {
    padding: 1rem;
    max-height: 0;
    margin-bottom: 0;
    opacity: 0;
    transition: all 0.2s linear;
    background-color: lightgrey;

    .filterSection {
      margin-bottom: 1rem;
      label {
        margin-right: 1rem;
      }
    }

    &.open {
      max-height: 50rem;
      margin-bottom: 1rem;
      opacity: 100%;
    }
  }
}
